<!DOCTYPE html>
<html>
    <head>
        <!-- 页面meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>品牌管理</title>
        <meta name="description" content="品牌管理">
        <meta name="keywords" content="品牌管理">
        <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
        <!-- 引入样式 -->
        <!--<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">-->
        <link rel="stylesheet" href="../plugins/elementui/index.css">
        <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/orderset.css">
        <!--<link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
        <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">-->
        <!-- 引入组件库 -->
        <script src="../plugins/vue/vue.js"></script>
        <script src="../plugins/elementui/index.js"></script>
        <script type="text/javascript" src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
        <script src="../plugins/axios/axios.js"></script>
    </head>
    <body class="hold-transition">
    <div id="app">
        <div class="content-header">
            <h3 class="box-title">品牌管理</h3>
        </div>
        <div class="app-container">
            <div class="box">
                <div class="box ordersetting"style="width: auto">
                    <el-card class="box-card">
                        <div class="boxMain">
                            <el-button style="margin-bottom: 20px;margin-right: 20px" type="primary" @click="downloadTemplate()">模板下载<i class="el-icon-download el-icon--right"></i></el-button>
                            <el-upload action="/brand/upload.shtml"
                                       name="excelFile"
                                       :show-file-list="false"
                                       :on-success="handleSuccess"
                                       :before-upload="beforeUpload">
                                <el-button type="primary">上传文件<i class="el-icon-upload el-icon--right"></i></el-button>
                            </el-upload>
                        </div>
                        <div>
                            操作说明：请点击"模板下载"按钮获取模板文件，在模板文件中录入数据后点击"上传文件"按钮上传模板文件。
                        </div>
                        <br>
                        <hr coler="black">
                        <div class="table-box">
                                <!--工具栏-->
                                <div class="pull-left">
                                    <div class="form-group form-inline">
                                        <div class="btn-group">
                                            <el-row>
                                                <el-button type="primary" icon="el-icon-plus" circle @click="entity={};dialogFormVisible = true"></el-button>
                                                <el-button type="danger" icon="el-icon-delete" circle @click="dele()"></el-button>
                                                <el-button type="info" icon="el-icon-refresh" circle onclick="window.location.reload();"></el-button>
                                            </el-row>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-tools pull-right">
                                    <div>
                                        <el-form :inline="true" class="demo-form-inline">
                                            <el-form-item label="品牌名称：">
                                                <el-input v-model="searchEntity.name" placeholder="品牌名称"></el-input>
                                            </el-form-item>
                                            <el-form-item label="首字母：">
                                                <el-input v-model="searchEntity.firstChar" placeholder="首字母"></el-input>
                                            </el-form-item>
                                            <el-form-item>
                                                <el-button type="primary" @click="searchList(1)">查询</el-button>
                                            </el-form-item>
                                        </el-form>
                                    </div>
                                </div>
                            <!--数据列表/-->
                        </div>
                    </el-card>
                    <template style="width: auto">
                        <el-table
                                ref="multipleTable"
                                :data="list"
                                border
                                stripe
                                tooltip-effect="dark"
                                style="width: 100%"
                                @selection-change="handleSelectionChange">
                            <el-table-column
                                    type="selection"
                                    width="70"
                                    align="center">
                            </el-table-column>
                            <el-table-column
                                    prop="id"
                                    label="品牌ID"
                                    width="100"
                                    align="center">
                            </el-table-column>
                            <el-table-column
                                    prop="name"
                                    label="品牌名称"
                                    width="450"
                                    align="center">
                            </el-table-column>
                            <el-table-column
                                    prop="firstChar"
                                    label="品牌首字母"
                                    width="450"
                                    align="center">
                            </el-table-column>
                            <el-table-column label="操作"
                                             align="center">
                                <template slot-scope="scope">
                                    <!--<el-button
                                            size="mini"
                                            data-toggle="modal" data-target="#editModal" @click="findOne(entity.id)">编辑</el-button>-->
                                    <el-button size="mini" type="primary" @click="findOne(scope.row.id);dialogFormVisible = true">编辑</el-button>
                                    <el-dialog title="品牌编辑" :visible.sync="dialogFormVisible">
                                        <el-form :model="entity">
                                            <el-form-item label="品牌名称" :label-width="formLabelWidth">
                                                <el-input placeholder="品牌名称" v-model="entity.name" autocomplete="off"></el-input>
                                            </el-form-item>
                                            <el-form-item label="首字母" :label-width="formLabelWidth">
                                                <el-input placeholder="首字母" v-model="entity.firstChar" autocomplete="off"></el-input>
                                            </el-form-item>
                                        </el-form>
                                        <div slot="footer" class="dialog-footer">
                                            <el-button @click="dialogFormVisible = false">取 消</el-button>
                                            <el-button type="primary" @click="save();dialogFormVisible=false">保 存</el-button>
                                        </div>
                                    </el-dialog>
                                </template>
                            </el-table-column>
                        </el-table>
                    </template><br>
                    <hr>
                    <div style="text-align: center">
                        <template>
                            <!--<navigation :pages="pages" :current.sync="pageNo"  @navpage="searchList"></navigation>-->
                            <el-pagination
                                    background
                                    layout="prev, pager, next"
                                    :current-page.sync="pageNo"
                                    @current-change="searchList"
                                    :page-count="pages">
                            </el-pagination>
                        </template>
                    </div>
                </div>
            </div>

        </div>
        <!-- 数据表格 -->

    </div>
    </body>
    <!-- 引入组件库 -->
    <script src="../plugins/vue/vue.js"></script>
    <script src="../plugins/axios/axios.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script src="../js/pagination.js"></script>
    <script src="../js/controller/brandController.js"></script>
</html>